Minifi_flow/flow.json.json
{"maxTimerDrivenThreadCount":1,"parameterContexts":[],"rootGroup":{"identifier":"4a609ec4-40f3-36be-a31c-03607772ede4","instanceIdentifier":"377ef2ce-0199-1000-e900-0c734c4ecb88","name":"MiNiFi_CGM_Collector","comments":"","position":{"x":-1960.0,"y":112.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9d8cc084-048e-39bc-b8f0-1dfa7c05d2cf","instanceIdentifier":"3784adc8-0199-1000-5d4a-78291916c832","name":"RouteOnAttribute","comments":"","position":{"x":-472.0,"y":112.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"normal":"${alert_level:equals('normal')}","Routing Strategy":"Route to Property name","critical":"${alert_level:equals('critical_low'):or(${alert_level:equals('critical_high')})}","warning":"${alert_level:equals('low'):or(${alert_level:equals('high')})}"},"propertyDescriptors":{"normal":{"name":"normal","displayName":"normal","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"critical":{"name":"critical","displayName":"critical","identifiesControllerService":false,"sensitive":false,"dynamic":true},"warning":{"name":"warning","displayName":"warning","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"1e5df244-dea6-33b2-96d9-518081ba3e49","instanceIdentifier":"377f5cb5-0199-1000-d371-a3d6adb8a410","name":"ListenTCP","comments":"","position":{"x":-480.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.ListenTCP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Max Size of Socket Buffer":"1 MB","Max Number of TCP Connections":"2","Max Batch Size":"1","Port":"9999","Receive Buffer Size":"65507 B","Message Delimiter":"\\n","idle-timeout":"0 seconds","Character Set":"UTF-8","Client Auth":"REQUIRED","Max Size of Message Queue":"10000","pool-receive-buffers":"True"},"propertyDescriptors":{"Max Size of Socket Buffer":{"name":"Max Size of Socket Buffer","displayName":"Max Size of Socket Buffer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Number of TCP Connections":{"name":"Max Number of TCP Connections","displayName":"Max Number of Worker Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Local Network Interface":{"name":"Local Network Interface","displayName":"Local Network Interface","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Receive Buffer Size":{"name":"Receive Buffer Size","displayName":"Receive Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Delimiter":{"name":"Message Delimiter","displayName":"Batching Message Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Size of Message Queue":{"name":"Max Size of Message Queue","displayName":"Max Size of Message Queue","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pool-receive-buffers":{"name":"pool-receive-buffers","displayName":"Pool Receive Buffers","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"f17e0a76-8faa-32aa-9d3b-0889b019f344","instanceIdentifier":"378aa7fb-0199-1000-0cf3-e95c59677c4f","name":"LogAttribute","comments":"","position":{"x":784.0,"y":176.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"f11dfe77-9d75-395f-9218-4ef8b264be06","instanceIdentifier":"37816cc8-0199-1000-768c-0d39b08f23e4","name":"EvaluateJsonPath","comments":"","position":{"x":136.0,"y":104.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","device_id":"$.device_id","Max String Length":"20 MB","patient_id":"$.patient_id","Return Type":"auto-detect","Null Value Representation":"empty string","alert_level":"$.alert_level","Path Not Found Behavior":"ignore","glucose_level":"$.glucose_level","timestamp":"$.timestamp"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"device_id":{"name":"device_id","displayName":"device_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"patient_id":{"name":"patient_id","displayName":"patient_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert_level":{"name":"alert_level","displayName":"alert_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"glucose_level":{"name":"glucose_level","displayName":"glucose_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"96f10d98-addf-3e51-b710-ab21484bcc9f","instanceIdentifier":"3788ec47-0199-1000-37a4-af19a4aa0466","name":"PutTCP","comments":"","position":{"x":144.0,"y":304.0},"type":"org.apache.nifi.processors.standard.PutTCP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Idle Connection Expiration":"15 seconds","Outgoing Message Delimiter":"\\n","Max Size of Socket Send Buffer":"1 MB","Timeout":"10 seconds","Port":"8899","Hostname":"127.0.0.1","Connection Per FlowFile":"false","Transmission Strategy":"FLOWFILE_ORIENTED","Character Set":"UTF-8"},"propertyDescriptors":{"Idle Connection Expiration":{"name":"Idle Connection Expiration","displayName":"Idle Connection Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Outgoing Message Delimiter":{"name":"Outgoing Message Delimiter","displayName":"Outgoing Message Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Size of Socket Send Buffer":{"name":"Max Size of Socket Send Buffer","displayName":"Max Size of Socket Send Buffer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Per FlowFile":{"name":"Connection Per FlowFile","displayName":"Connection Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transmission Strategy":{"name":"Transmission Strategy","displayName":"Transmission Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"72f1cc9f-7e7e-3e4b-b550-0cff3c60fd51","instanceIdentifier":"37873880-0199-1000-641f-9ca53056ea58","name":"UpdateAttribute","comments":"","position":{"x":-464.0,"y":304.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"minifi.instance.id":"${hostname()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","minifi.collection.time":"${now()}","data.priority":"${alert_level:equals('critical_low'):or(${alert_level:equals('critical_high')}):ifElse('HIGH','NORMAL')}"},"propertyDescriptors":{"minifi.instance.id":{"name":"minifi.instance.id","displayName":"minifi.instance.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"minifi.collection.time":{"name":"minifi.collection.time","displayName":"minifi.collection.time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"data.priority":{"name":"data.priority","displayName":"data.priority","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"cc7ec14a-4236-3198-941a-51cbfb811579","instanceIdentifier":"37807a9d-0199-1000-353c-f4f33eaa923c","name":"SplitText","comments":"","position":{"x":120.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":"1 MB","Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"79063bf6-c4df-34cd-8fec-9e7ec0c573ae","instanceIdentifier":"37808c56-0199-1000-3093-369c204f9148","name":"","source":{"id":"1e5df244-dea6-33b2-96d9-518081ba3e49","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"ListenTCP","comments":"","instanceIdentifier":"377f5cb5-0199-1000-d371-a3d6adb8a410"},"destination":{"id":"cc7ec14a-4236-3198-941a-51cbfb811579","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"SplitText","comments":"","instanceIdentifier":"37807a9d-0199-1000-353c-f4f33eaa923c"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"0775d2bc-c405-3173-aa13-ca2d14421445","instanceIdentifier":"3787722b-0199-1000-3b6f-d630007cafdd","name":"","source":{"id":"9d8cc084-048e-39bc-b8f0-1dfa7c05d2cf","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"3784adc8-0199-1000-5d4a-78291916c832"},"destination":{"id":"72f1cc9f-7e7e-3e4b-b550-0cff3c60fd51","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"UpdateAttribute","comments":"","instanceIdentifier":"37873880-0199-1000-641f-9ca53056ea58"},"labelIndex":0,"zIndex":4,"selectedRelationships":["normal","critical","warning","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"7c66bfbc-806d-3032-a475-ea46f7232631","instanceIdentifier":"378ac4db-0199-1000-d7dc-c92191d055ec","name":"","source":{"id":"f11dfe77-9d75-395f-9218-4ef8b264be06","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"37816cc8-0199-1000-768c-0d39b08f23e4"},"destination":{"id":"f17e0a76-8faa-32aa-9d3b-0889b019f344","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"LogAttribute","comments":"","instanceIdentifier":"378aa7fb-0199-1000-0cf3-e95c59677c4f"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"05d4b72e-622e-35b8-bd0a-bd50d32be747","instanceIdentifier":"378908fe-0199-1000-bb6f-eed3ea5ffc2f","name":"","source":{"id":"72f1cc9f-7e7e-3e4b-b550-0cff3c60fd51","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"UpdateAttribute","comments":"","instanceIdentifier":"37873880-0199-1000-641f-9ca53056ea58"},"destination":{"id":"96f10d98-addf-3e51-b710-ab21484bcc9f","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"PutTCP","comments":"","instanceIdentifier":"3788ec47-0199-1000-37a4-af19a4aa0466"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"9a8204ee-8392-3143-bf0d-fec5f3fff31b","instanceIdentifier":"3784ce73-0199-1000-dfd3-78a8ecfcc44b","name":"","source":{"id":"f11dfe77-9d75-395f-9218-4ef8b264be06","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"37816cc8-0199-1000-768c-0d39b08f23e4"},"destination":{"id":"9d8cc084-048e-39bc-b8f0-1dfa7c05d2cf","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"3784adc8-0199-1000-5d4a-78291916c832"},"labelIndex":0,"zIndex":3,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"7dd3aa98-0f8b-36e0-9707-d4b8701af707","instanceIdentifier":"378ad79a-0199-1000-2134-bea93815a2b4","name":"","source":{"id":"96f10d98-addf-3e51-b710-ab21484bcc9f","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"PutTCP","comments":"","instanceIdentifier":"3788ec47-0199-1000-37a4-af19a4aa0466"},"destination":{"id":"f17e0a76-8faa-32aa-9d3b-0889b019f344","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"LogAttribute","comments":"","instanceIdentifier":"378aa7fb-0199-1000-0cf3-e95c59677c4f"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"},{"identifier":"b8439027-5604-30ca-b6c9-b87bf35efa42","instanceIdentifier":"37823206-0199-1000-4240-6cbd672e0ba8","name":"","source":{"id":"cc7ec14a-4236-3198-941a-51cbfb811579","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"SplitText","comments":"","instanceIdentifier":"37807a9d-0199-1000-353c-f4f33eaa923c"},"destination":{"id":"f11dfe77-9d75-395f-9218-4ef8b264be06","type":"PROCESSOR","groupId":"4a609ec4-40f3-36be-a31c-03607772ede4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"37816cc8-0199-1000-768c-0d39b08f23e4"},"labelIndex":0,"zIndex":2,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4a609ec4-40f3-36be-a31c-03607772ede4"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"}}