NiFi_Central_hub/CGM_Data_Pipeline.json
{"flowContents":{"identifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14","instanceIdentifier":"41f45318-0199-1000-e82d-36e7c9aa508f","name":"CGM Data Pipeline","comments":"","position":{"x":80.0,"y":440.0},"processGroups":[{"identifier":"9256693c-9dfe-36d3-a857-7c47e85cd032","instanceIdentifier":"41f491a0-0199-1000-6497-fe2c83e55b10","name":"Data Ingestion Group","comments":"","position":{"x":-432.0,"y":-192.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8744bde1-d7e3-3f67-8892-3ea82009a26c","instanceIdentifier":"420d86db-0199-1000-c093-3c0670b077b1","name":"LogAttribute","comments":"","position":{"x":-80.0,"y":-448.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"},{"identifier":"f9b38557-baf4-339e-82c1-8878ee21db61","instanceIdentifier":"41f9abd0-0199-1000-647c-5676f432a91d","name":"Rate-Limiter-CGM","comments":"","position":{"x":240.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"1 min","Grouping Attribute":null,"Maximum Rate":"1000","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"},{"identifier":"f9bd3f4d-2532-36bc-b88e-b2f54c5c6ee1","instanceIdentifier":"420bd66d-0199-1000-f741-e4c18a4061f7","name":"SplitText","comments":"","position":{"x":-416.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":"1 MB","Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"},{"identifier":"ea79b162-bee2-3b77-a732-f0358f4b900e","instanceIdentifier":"41f843bd-0199-1000-1d4d-3c9bf2a0e03f","name":"Receive-CGM-Data","comments":"","position":{"x":-1040.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.ListenTCP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Max Size of Socket Buffer":"1 MB","Max Number of TCP Connections":"2","Local Network Interface":null,"Max Batch Size":"1","Port":"8899","Receive Buffer Size":"65507 B","Message Delimiter":"\\n","SSL Context Service":null,"idle-timeout":"0 seconds","Character Set":"UTF-8","Client Auth":"REQUIRED","Max Size of Message Queue":"10000","pool-receive-buffers":"True"},"propertyDescriptors":{"Max Size of Socket Buffer":{"name":"Max Size of Socket Buffer","displayName":"Max Size of Socket Buffer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Number of TCP Connections":{"name":"Max Number of TCP Connections","displayName":"Max Number of Worker Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Local Network Interface":{"name":"Local Network Interface","displayName":"Local Network Interface","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Receive Buffer Size":{"name":"Receive Buffer Size","displayName":"Receive Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Delimiter":{"name":"Message Delimiter","displayName":"Batching Message Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Size of Message Queue":{"name":"Max Size of Message Queue","displayName":"Max Size of Message Queue","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pool-receive-buffers":{"name":"pool-receive-buffers","displayName":"Pool Receive Buffers","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"},{"identifier":"e3212fc6-be90-3bd4-bbbf-ef4746172d9d","instanceIdentifier":"41fb1bca-0199-1000-08d5-fd89dfa4a6d7","name":"Add-Initial-Metadata","comments":"","position":{"x":248.0,"y":32.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ingestion.timestamp":"${now()}","ingestion.source":"minifi","processing.stage":"ingestion_complete","data.type":"cgm_reading","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ingestion.timestamp":{"name":"ingestion.timestamp","displayName":"ingestion.timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ingestion.source":{"name":"ingestion.source","displayName":"ingestion.source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"processing.stage":{"name":"processing.stage","displayName":"processing.stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"data.type":{"name":"data.type","displayName":"data.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"}],"inputPorts":[],"outputPorts":[{"identifier":"a32cb0eb-f09a-31e3-9a16-a34feed8c76e","instanceIdentifier":"41feb36d-0199-1000-6aa8-16abf2f16637","name":"Data Ingestion Group Output","position":{"x":304.0,"y":256.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"}],"connections":[{"identifier":"ac061bf4-cedd-33fd-9fcb-c0d829eee8f2","instanceIdentifier":"41fec929-0199-1000-155f-ea69cd360d1c","name":"","source":{"id":"e3212fc6-be90-3bd4-bbbf-ef4746172d9d","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"Add-Initial-Metadata","comments":"","instanceIdentifier":"41fb1bca-0199-1000-08d5-fd89dfa4a6d7"},"destination":{"id":"a32cb0eb-f09a-31e3-9a16-a34feed8c76e","type":"OUTPUT_PORT","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"Data Ingestion Group Output","instanceIdentifier":"41feb36d-0199-1000-6aa8-16abf2f16637"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"},{"identifier":"988af092-6c3c-3679-b1cc-ac72a8998ed3","instanceIdentifier":"420de659-0199-1000-7be9-b6c43fb5ccf0","name":"","source":{"id":"f9b38557-baf4-339e-82c1-8878ee21db61","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"Rate-Limiter-CGM","comments":"","instanceIdentifier":"41f9abd0-0199-1000-647c-5676f432a91d"},"destination":{"id":"8744bde1-d7e3-3f67-8892-3ea82009a26c","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"LogAttribute","comments":"","instanceIdentifier":"420d86db-0199-1000-c093-3c0670b077b1"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"},{"identifier":"051a3c2a-b0a3-34d6-86f8-5496fb52a6e8","instanceIdentifier":"420be87e-0199-1000-9ff0-d7d2a00f4714","name":"","source":{"id":"ea79b162-bee2-3b77-a732-f0358f4b900e","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"Receive-CGM-Data","comments":"","instanceIdentifier":"41f843bd-0199-1000-1d4d-3c9bf2a0e03f"},"destination":{"id":"f9bd3f4d-2532-36bc-b88e-b2f54c5c6ee1","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"SplitText","comments":"","instanceIdentifier":"420bd66d-0199-1000-f741-e4c18a4061f7"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"},{"identifier":"cdcd6dfe-ec36-311c-a1b0-39c8c30d233a","instanceIdentifier":"420bfe77-0199-1000-ecfa-aaba0c653d73","name":"","source":{"id":"f9bd3f4d-2532-36bc-b88e-b2f54c5c6ee1","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"SplitText","comments":"","instanceIdentifier":"420bd66d-0199-1000-f741-e4c18a4061f7"},"destination":{"id":"f9b38557-baf4-339e-82c1-8878ee21db61","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"Rate-Limiter-CGM","comments":"","instanceIdentifier":"41f9abd0-0199-1000-647c-5676f432a91d"},"labelIndex":0,"zIndex":5,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"},{"identifier":"2f1db9d4-581c-3d5d-988f-f6cd1042a14d","instanceIdentifier":"41fb3e5d-0199-1000-3a70-1c8af45784f3","name":"","source":{"id":"f9b38557-baf4-339e-82c1-8878ee21db61","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"Rate-Limiter-CGM","comments":"","instanceIdentifier":"41f9abd0-0199-1000-647c-5676f432a91d"},"destination":{"id":"e3212fc6-be90-3bd4-bbbf-ef4746172d9d","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"Add-Initial-Metadata","comments":"","instanceIdentifier":"41fb1bca-0199-1000-08d5-fd89dfa4a6d7"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"},{"identifier":"3e0e1306-c7c5-3178-b85c-4635eaec7a9c","instanceIdentifier":"420dba63-0199-1000-ea77-ff671e2ab3b9","name":"","source":{"id":"f9bd3f4d-2532-36bc-b88e-b2f54c5c6ee1","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"SplitText","comments":"","instanceIdentifier":"420bd66d-0199-1000-f741-e4c18a4061f7"},"destination":{"id":"8744bde1-d7e3-3f67-8892-3ea82009a26c","type":"PROCESSOR","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"LogAttribute","comments":"","instanceIdentifier":"420d86db-0199-1000-c093-3c0670b077b1"},"labelIndex":0,"zIndex":6,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9256693c-9dfe-36d3-a857-7c47e85cd032"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14"},{"identifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","instanceIdentifier":"41ff56e4-0199-1000-41cd-ce37ace10f9f","name":"Data Validation & Quality Group","comments":"","position":{"x":208.0,"y":-192.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3b14639a-2095-3b76-8812-515768e810cc","instanceIdentifier":"4210c551-0199-1000-f1ff-88a739e40afd","name":"ExecuteGroovyScript","comments":"","position":{"x":-696.0,"y":-56.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.5.0"},"properties":{"groovyx-script-body":"import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Read flowfile content\n    def text = session.read(flowFile).withStream { stream -> \n        new String(stream.readAllBytes(), 'UTF-8')\n    }\n    \n    // Parse JSON\n    def jsonSlurper = new JsonSlurper()\n    def data = jsonSlurper.parseText(text)\n    \n    // Validate required fields\n    def requiredFields = ['device_id', 'patient_id', 'glucose_level', 'alert_level', 'timestamp']\n    def missingFields = requiredFields.findAll { !data.containsKey(it) }\n    \n    if (missingFields) {\n        session.transfer(flowFile, REL_FAILURE)\n        session.putAttribute(flowFile, 'validation.error', \"Missing required fields: ${missingFields.join(', ')}\")\n        return\n    }\n    \n    // Validate data types and ranges\n    def errors = []\n    \n    // Glucose level validation\n    try {\n        def glucose = data.glucose_level.toFloat()\n        if (glucose < 20 || glucose > 600) {\n            errors << \"Glucose level out of range: ${glucose}\"\n        }\n    } catch (e) {\n        errors << \"Invalid glucose level format: ${data.glucose_level}\"\n    }\n    \n    // Alert level validation\n    def validAlertLevels = ['normal', 'low', 'high', 'critical_low', 'critical_high']\n    if (!validAlertLevels.contains(data.alert_level)) {\n        errors << \"Invalid alert level: ${data.alert_level}\"\n    }\n    \n    if (errors) {\n        session.transfer(flowFile, REL_FAILURE)\n        session.putAttribute(flowFile, 'validation.errors', errors.join('; '))\n        return\n    }\n    \n    // Add validation success attribute\n    session.putAttribute(flowFile, 'validation.status', 'success')\n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch (Exception e) {\n    session.transfer(flowFile, REL_FAILURE)\n    session.putAttribute(flowFile, 'validation.error', \"JSON parsing error: ${e.message}\")\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"1d90ae7a-505d-3301-b89a-acad81d2de46","instanceIdentifier":"4220e97e-0199-1000-6267-36f1ac211b85","name":"LogAttribute","comments":"","position":{"x":-696.0,"y":136.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"error","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"e1f3befc-0007-364b-bfa6-8bed68c275bf","instanceIdentifier":"421303f7-0199-1000-eca9-8b582c1e7942","name":"ExtractGlucometerAttributes","comments":"","position":{"x":-96.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","sleep_quality":"$.sleep_quality","Null Value Representation":"empty string","stress_level":"$.stress_level","time_in_range_24h":"$.time_in_range_24h","Path Not Found Behavior":"ignore","glucose_level":"$.glucose_level","estimated_hba1c":"$.estimated_hba1c","temperature":"$.temperature","sensor_age_days":"$.sensor_age_days","carbs_on_board":"$.carbs_on_board","alert_level":"$.alert_level","signal_strength":"$.signal_strength","predicted_glucose_30min":"$.predicted_glucose_30min","battery_level":"$.battery_level","device_id":"$.device_id","Max String Length":"20 MB","Return Type":"auto-detect","meal_status":"$.meal_status","hydration_level":"$.hydration_level","calibration_status":"$.calibration_status","insulin_on_board":"$.insulin_on_board","sequence_number":"$.sequence_number","current_activity":"$.current_activity","glucose_variability_cv":"$.glucose_variability_cv","patient_id":"$.patient_id","time_in_range_1h":"$.time_in_range_1h","glucose_trend":"$.glucose_trend"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sleep_quality":{"name":"sleep_quality","displayName":"sleep_quality","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"stress_level":{"name":"stress_level","displayName":"stress_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"time_in_range_24h":{"name":"time_in_range_24h","displayName":"time_in_range_24h","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"glucose_level":{"name":"glucose_level","displayName":"glucose_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"estimated_hba1c":{"name":"estimated_hba1c","displayName":"estimated_hba1c","identifiesControllerService":false,"sensitive":false,"dynamic":true},"temperature":{"name":"temperature","displayName":"temperature","identifiesControllerService":false,"sensitive":false,"dynamic":true},"sensor_age_days":{"name":"sensor_age_days","displayName":"sensor_age_days","identifiesControllerService":false,"sensitive":false,"dynamic":true},"carbs_on_board":{"name":"carbs_on_board","displayName":"carbs_on_board","identifiesControllerService":false,"sensitive":false,"dynamic":true},"alert_level":{"name":"alert_level","displayName":"alert_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"signal_strength":{"name":"signal_strength","displayName":"signal_strength","identifiesControllerService":false,"sensitive":false,"dynamic":true},"predicted_glucose_30min":{"name":"predicted_glucose_30min","displayName":"predicted_glucose_30min","identifiesControllerService":false,"sensitive":false,"dynamic":true},"battery_level":{"name":"battery_level","displayName":"battery_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"device_id":{"name":"device_id","displayName":"device_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"meal_status":{"name":"meal_status","displayName":"meal_status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"hydration_level":{"name":"hydration_level","displayName":"hydration_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"calibration_status":{"name":"calibration_status","displayName":"calibration_status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"insulin_on_board":{"name":"insulin_on_board","displayName":"insulin_on_board","identifiesControllerService":false,"sensitive":false,"dynamic":true},"sequence_number":{"name":"sequence_number","displayName":"sequence_number","identifiesControllerService":false,"sensitive":false,"dynamic":true},"current_activity":{"name":"current_activity","displayName":"current_activity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"glucose_variability_cv":{"name":"glucose_variability_cv","displayName":"glucose_variability_cv","identifiesControllerService":false,"sensitive":false,"dynamic":true},"patient_id":{"name":"patient_id","displayName":"patient_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"time_in_range_1h":{"name":"time_in_range_1h","displayName":"time_in_range_1h","identifiesControllerService":false,"sensitive":false,"dynamic":true},"glucose_trend":{"name":"glucose_trend","displayName":"glucose_trend","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"890d5b17-d449-3e49-817c-5c1f685ffb0a","instanceIdentifier":"421ce4bd-0199-1000-1f48-37620e91de8f","name":"RouteOnAlertLevel","comments":"","position":{"x":-104.0,"y":128.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"normal":"${alert_level:equals('normal')}","Routing Strategy":"Route to Property name","critical":"${alert_level:equals('critical_low'):or(${alert_level:equals('critical_high')})}","warning":"${alert_level:equals('low'):or(${alert_level:equals('high')})}"},"propertyDescriptors":{"normal":{"name":"normal","displayName":"normal","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"critical":{"name":"critical","displayName":"critical","identifiesControllerService":false,"sensitive":false,"dynamic":true},"warning":{"name":"warning","displayName":"warning","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"}],"inputPorts":[{"identifier":"8db03cf9-3a69-3642-bb30-f849a563b19a","instanceIdentifier":"41ffacd4-0199-1000-54c3-ddbf4da491cb","name":"Data Ingestion Group IN","position":{"x":-640.0,"y":-208.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"}],"outputPorts":[{"identifier":"5528b775-6437-301d-829e-7af0a7b926b4","instanceIdentifier":"421fe940-0199-1000-e375-510bc7a849fe","name":"To Database Group","position":{"x":328.0,"y":360.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"12ee21de-b587-3d0a-af18-fdf06f9369aa","instanceIdentifier":"421f9890-0199-1000-cbbf-566816f17eea","name":"To Critical Alert Group","position":{"x":-456.0,"y":352.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"03e82e9c-bfd2-392b-96e8-5a15c3e0dd7c","instanceIdentifier":"421fc124-0199-1000-c040-664e23001786","name":"To Warning Alert Group","position":{"x":-56.0,"y":360.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"}],"connections":[{"identifier":"aafa0a52-0120-37ca-aeaf-9f68cab2dffc","instanceIdentifier":"42131bc0-0199-1000-8ade-1dafde764c58","name":"","source":{"id":"3b14639a-2095-3b76-8812-515768e810cc","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"4210c551-0199-1000-f1ff-88a739e40afd"},"destination":{"id":"e1f3befc-0007-364b-bfa6-8bed68c275bf","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"ExtractGlucometerAttributes","comments":"","instanceIdentifier":"421303f7-0199-1000-eca9-8b582c1e7942"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"f98114a6-4e86-3c96-9afa-ea407579f6f3","instanceIdentifier":"421d03ff-0199-1000-836f-436574986899","name":"","source":{"id":"e1f3befc-0007-364b-bfa6-8bed68c275bf","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"ExtractGlucometerAttributes","comments":"","instanceIdentifier":"421303f7-0199-1000-eca9-8b582c1e7942"},"destination":{"id":"890d5b17-d449-3e49-817c-5c1f685ffb0a","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"RouteOnAlertLevel","comments":"","instanceIdentifier":"421ce4bd-0199-1000-1f48-37620e91de8f"},"labelIndex":0,"zIndex":3,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"2236b9c9-6b10-34bc-a645-c9779c0d3fac","instanceIdentifier":"42211fdc-0199-1000-7dbd-cee1005a0dc2","name":"","source":{"id":"e1f3befc-0007-364b-bfa6-8bed68c275bf","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"ExtractGlucometerAttributes","comments":"","instanceIdentifier":"421303f7-0199-1000-eca9-8b582c1e7942"},"destination":{"id":"1d90ae7a-505d-3301-b89a-acad81d2de46","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"LogAttribute","comments":"","instanceIdentifier":"4220e97e-0199-1000-6267-36f1ac211b85"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"883074b5-e294-3638-b4b4-6d7ebf0f386d","instanceIdentifier":"42200e7d-0199-1000-b910-4ebb165754a7","name":"","source":{"id":"890d5b17-d449-3e49-817c-5c1f685ffb0a","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"RouteOnAlertLevel","comments":"","instanceIdentifier":"421ce4bd-0199-1000-1f48-37620e91de8f"},"destination":{"id":"12ee21de-b587-3d0a-af18-fdf06f9369aa","type":"OUTPUT_PORT","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"To Critical Alert Group","instanceIdentifier":"421f9890-0199-1000-cbbf-566816f17eea"},"labelIndex":0,"zIndex":4,"selectedRelationships":["critical"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"cde03708-ae5f-367a-8664-ad61ba53cf27","instanceIdentifier":"4221358b-0199-1000-cbee-cbcc27b0d2b0","name":"","source":{"id":"890d5b17-d449-3e49-817c-5c1f685ffb0a","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"RouteOnAlertLevel","comments":"","instanceIdentifier":"421ce4bd-0199-1000-1f48-37620e91de8f"},"destination":{"id":"1d90ae7a-505d-3301-b89a-acad81d2de46","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"LogAttribute","comments":"","instanceIdentifier":"4220e97e-0199-1000-6267-36f1ac211b85"},"labelIndex":0,"zIndex":9,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"78a66cb0-9caa-37c6-9b22-81ebd3e3e340","instanceIdentifier":"42203faf-0199-1000-9f0f-0f3e066c6c86","name":"","source":{"id":"890d5b17-d449-3e49-817c-5c1f685ffb0a","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"RouteOnAlertLevel","comments":"","instanceIdentifier":"421ce4bd-0199-1000-1f48-37620e91de8f"},"destination":{"id":"5528b775-6437-301d-829e-7af0a7b926b4","type":"OUTPUT_PORT","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"To Database Group","instanceIdentifier":"421fe940-0199-1000-e375-510bc7a849fe"},"labelIndex":0,"zIndex":6,"selectedRelationships":["normal"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"590e20e3-6e7d-3623-9f85-0016b1ea08b8","instanceIdentifier":"4221045d-0199-1000-569c-6f718cb3d7d3","name":"","source":{"id":"3b14639a-2095-3b76-8812-515768e810cc","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"4210c551-0199-1000-f1ff-88a739e40afd"},"destination":{"id":"1d90ae7a-505d-3301-b89a-acad81d2de46","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"LogAttribute","comments":"","instanceIdentifier":"4220e97e-0199-1000-6267-36f1ac211b85"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"964e4b89-583c-39f0-bc90-f178f853e9fc","instanceIdentifier":"4210d1d4-0199-1000-6cb8-a5da49d90edb","name":"","source":{"id":"8db03cf9-3a69-3642-bb30-f849a563b19a","type":"INPUT_PORT","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"Data Ingestion Group IN","instanceIdentifier":"41ffacd4-0199-1000-54c3-ddbf4da491cb"},"destination":{"id":"3b14639a-2095-3b76-8812-515768e810cc","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"4210c551-0199-1000-f1ff-88a739e40afd"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"},{"identifier":"412132a5-0845-3876-bcf6-05ca7c0740f4","instanceIdentifier":"4220257b-0199-1000-0c12-ef6f034829b9","name":"","source":{"id":"890d5b17-d449-3e49-817c-5c1f685ffb0a","type":"PROCESSOR","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"RouteOnAlertLevel","comments":"","instanceIdentifier":"421ce4bd-0199-1000-1f48-37620e91de8f"},"destination":{"id":"03e82e9c-bfd2-392b-96e8-5a15c3e0dd7c","type":"OUTPUT_PORT","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"To Warning Alert Group","instanceIdentifier":"421fc124-0199-1000-c040-664e23001786"},"labelIndex":0,"zIndex":5,"selectedRelationships":["warning"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddf6ad03-91b3-324e-9a0b-83f035efe52c"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14"},{"identifier":"52c368d2-a413-3972-a5e1-d7582809a0e3","instanceIdentifier":"4224091e-0199-1000-9f67-72647d34c530","name":"Alert Management Group","comments":"","position":{"x":208.0,"y":88.0},"processGroups":[{"identifier":"9c999a6f-6655-3639-b68e-6e89b75650d2","instanceIdentifier":"432761d1-0199-1000-a382-5fe38ae3e690","name":"Warning Alert Handler","comments":"","position":{"x":-32.0,"y":120.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9f09fdd0-dab9-322a-b026-463dd22749bc","instanceIdentifier":"4337d85d-0199-1000-81e9-037086cd52ae","name":"Final Processing","comments":"","position":{"x":1816.0,"y":-144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","alert.completed_timestamp":"${now():format('yyyy-MM-dd HH:mm:ss')}","alert.processed":"true","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert.completed_timestamp":{"name":"alert.completed_timestamp","displayName":"alert.completed_timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"alert.processed":{"name":"alert.processed","displayName":"alert.processed","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"1e0a436b-3e8f-31e0-b7d1-64c3fc9d7da7","instanceIdentifier":"432a0a43-0199-1000-7f75-58f41a827a12","name":"Log Warning Alert","comments":"","position":{"x":-32.0,"y":72.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":"CGM Warning Alert","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"warn","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":".*","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"6a3d8eca-09a9-31cc-bb69-9f36a808dc3c","instanceIdentifier":"432b6bf5-0199-1000-e817-d4987e8f0da5","name":"Customize Warning Message","comments":"","position":{"x":576.0,"y":64.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","alert.recommendation":"${alert_level:equals('low'):ifElse('Consider consuming 15g fast-acting carbs','Consider insulin correction as per care plan')}","Stateful Variables Initial Value":null,"alert.message":"Glucose ${alert_level} alert: ${glucose_level} mg/dL at ${timestamp}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert.recommendation":{"name":"alert.recommendation","displayName":"alert.recommendation","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert.message":{"name":"alert.message","displayName":"alert.message","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"4330ac90-0199-1000-79a0-b3f1db3035e2","instanceIdentifier":"863c71fe-3b0a-3fd3-73b4-5e91f28321ba","name":"Short Delay","comments":"","position":{"x":1192.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":"b0bbffd0-2465-341f-a529-18bf4fd4c252","releasable-flowfile-count":"1","release-signal-id":"responded_${patient_id}_${uuid}","signal-counter-name":"alert_${patient_id}_${uuid}","expiration-duration":"2 min","target-signal-count":"1","wait-penalty-duration":"2 min"},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["wait","success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"432e9ad3-0199-1000-d3eb-7a5be2340dd0","instanceIdentifier":"5724aaa1-dab3-3dcc-7e9c-3d27ede54b5b","name":"Notify Patient/Caregiver","comments":"","position":{"x":560.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"${alert.message}\n\nTrend: ${glucose_trend}\nCurrent Activity: ${current_activity}\nInsulin On Board: ${insulin_on_board}U\nCarbs On Board: ${carbs_on_board}g\n\nRecommendation: ${alert.recommendation}\n\nPlease monitor your symptoms and contact your care team if needed.","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"465","SMTP Auth":"true","From":"ammarshahien5@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"CGM Warning: ${alert_level} glucose level","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"ammarshahien5@gmail.com","To":"ammarshahien600@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"bc92b863-2c44-311d-8728-9737e1354347","instanceIdentifier":"43285531-0199-1000-4d12-baf61562676d","name":"Set Warning Priority","comments":"","position":{"x":-32.0,"y":-136.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","alert.timestamp":"${now():format('yyyy-MM-dd HH:mm:ss')}","Stateful Variables Initial Value":null,"alert.type":"warning","alert.priority":"MEDIUM"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert.timestamp":{"name":"alert.timestamp","displayName":"alert.timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert.type":{"name":"alert.type","displayName":"alert.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"alert.priority":{"name":"alert.priority","displayName":"alert.priority","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"433601b8-0199-1000-6660-1b58009f2c6d","instanceIdentifier":"2c0b9d5e-4fce-3848-d086-f9636b4651ac","name":"Notify Patient/Caregiver","comments":"","position":{"x":1832.0,"y":80.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"Patient ${patient_id} has persistent ${alert_level} glucose levels.\nCurrent reading: ${glucose_level} mg/dL\nTrend: ${glucose_trend}\nPlease follow up with patient.","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"465","SMTP Auth":"true","From":"ammarshahien5@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"Follow-up: Patient ${patient_id} with persistent ${alert_level} glucose","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"ammarshahien5@gmail.com","To":"ammarshahien600@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"d5fd8fda-014f-31e1-a2ff-9220a54df3e5","instanceIdentifier":"4331e714-0199-1000-efda-30851bbf7e82","name":"Check if Response Needed","comments":"","position":{"x":1192.0,"y":80.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Routing Strategy":"Route to Property name","needs_followup":"${glucose_level:lt(60):or(${glucose_level:gt(250)})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"needs_followup":{"name":"needs_followup","displayName":"needs_followup","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"}],"inputPorts":[{"identifier":"e1740b4a-555f-36cc-9f5f-e00a36948377","instanceIdentifier":"4327981b-0199-1000-3102-7579be114a51","name":"Warning Input","position":{"x":24.0,"y":-280.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"}],"outputPorts":[{"identifier":"ab373051-9bee-356f-a4ae-f138d27edd25","instanceIdentifier":"4338c9d9-0199-1000-8035-749d444741d3","name":"To Main Output","position":{"x":1864.0,"y":-288.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"}],"connections":[{"identifier":"b555f795-81dc-355b-9905-110f19057848","instanceIdentifier":"433beb79-0199-1000-4675-9a5ff48e0cef","name":"","source":{"id":"d5fd8fda-014f-31e1-a2ff-9220a54df3e5","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Check if Response Needed","comments":"","instanceIdentifier":"4331e714-0199-1000-efda-30851bbf7e82"},"destination":{"id":"9f09fdd0-dab9-322a-b026-463dd22749bc","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Final Processing","comments":"","instanceIdentifier":"4337d85d-0199-1000-81e9-037086cd52ae"},"labelIndex":0,"zIndex":10,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"e165e44a-5b93-3cad-bce1-0a5ca4c914bf","instanceIdentifier":"4337f70a-0199-1000-f8b7-b5690ecf6932","name":"","source":{"id":"433601b8-0199-1000-6660-1b58009f2c6d","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Notify Patient/Caregiver","comments":"","instanceIdentifier":"2c0b9d5e-4fce-3848-d086-f9636b4651ac"},"destination":{"id":"9f09fdd0-dab9-322a-b026-463dd22749bc","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Final Processing","comments":"","instanceIdentifier":"4337d85d-0199-1000-81e9-037086cd52ae"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"dcb7cc32-5a1b-3b35-924d-05a95ecbce55","instanceIdentifier":"433201d7-0199-1000-9a9e-cf77ed145374","name":"","source":{"id":"4330ac90-0199-1000-79a0-b3f1db3035e2","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Short Delay","comments":"","instanceIdentifier":"863c71fe-3b0a-3fd3-73b4-5e91f28321ba"},"destination":{"id":"d5fd8fda-014f-31e1-a2ff-9220a54df3e5","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Check if Response Needed","comments":"","instanceIdentifier":"4331e714-0199-1000-efda-30851bbf7e82"},"labelIndex":0,"zIndex":6,"selectedRelationships":["expired"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"9313e53d-82f7-38b9-be3f-6efebfe837f5","instanceIdentifier":"43286658-0199-1000-8555-8795c3964fe5","name":"","source":{"id":"e1740b4a-555f-36cc-9f5f-e00a36948377","type":"INPUT_PORT","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Warning Input","instanceIdentifier":"4327981b-0199-1000-3102-7579be114a51"},"destination":{"id":"bc92b863-2c44-311d-8728-9737e1354347","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Set Warning Priority","comments":"","instanceIdentifier":"43285531-0199-1000-4d12-baf61562676d"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"fdfd9c95-347f-3a00-b713-5397bfd7b728","instanceIdentifier":"432bd4c5-0199-1000-b03b-e5bc6ca031ce","name":"","source":{"id":"1e0a436b-3e8f-31e0-b7d1-64c3fc9d7da7","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Log Warning Alert","comments":"","instanceIdentifier":"432a0a43-0199-1000-7f75-58f41a827a12"},"destination":{"id":"6a3d8eca-09a9-31cc-bb69-9f36a808dc3c","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Customize Warning Message","comments":"","instanceIdentifier":"432b6bf5-0199-1000-e817-d4987e8f0da5"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"79f1a4e7-f522-3f49-81d7-af0d4470d416","instanceIdentifier":"4330c535-0199-1000-a24c-e55a4d5cdc17","name":"","source":{"id":"432e9ad3-0199-1000-d3eb-7a5be2340dd0","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Notify Patient/Caregiver","comments":"","instanceIdentifier":"5724aaa1-dab3-3dcc-7e9c-3d27ede54b5b"},"destination":{"id":"4330ac90-0199-1000-79a0-b3f1db3035e2","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Short Delay","comments":"","instanceIdentifier":"863c71fe-3b0a-3fd3-73b4-5e91f28321ba"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"e9c9ef95-31a9-3e0d-8479-fb5b9df2ff73","instanceIdentifier":"4421588b-0199-1000-10e3-88b6a730d02f","name":"","source":{"id":"432e9ad3-0199-1000-d3eb-7a5be2340dd0","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Notify Patient/Caregiver","comments":"","instanceIdentifier":"5724aaa1-dab3-3dcc-7e9c-3d27ede54b5b"},"destination":{"id":"d5fd8fda-014f-31e1-a2ff-9220a54df3e5","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Check if Response Needed","comments":"","instanceIdentifier":"4331e714-0199-1000-efda-30851bbf7e82"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"68b1e5ff-815c-333b-86a3-ce15317f52b7","instanceIdentifier":"4338d92c-0199-1000-a163-14ff43efa511","name":"","source":{"id":"9f09fdd0-dab9-322a-b026-463dd22749bc","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Final Processing","comments":"","instanceIdentifier":"4337d85d-0199-1000-81e9-037086cd52ae"},"destination":{"id":"ab373051-9bee-356f-a4ae-f138d27edd25","type":"OUTPUT_PORT","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"To Main Output","instanceIdentifier":"4338c9d9-0199-1000-8035-749d444741d3"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"93956e46-817a-31d6-baeb-5acd8b6b5552","instanceIdentifier":"432ec1b8-0199-1000-15de-0f34f33a8420","name":"","source":{"id":"6a3d8eca-09a9-31cc-bb69-9f36a808dc3c","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Customize Warning Message","comments":"","instanceIdentifier":"432b6bf5-0199-1000-e817-d4987e8f0da5"},"destination":{"id":"432e9ad3-0199-1000-d3eb-7a5be2340dd0","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Notify Patient/Caregiver","comments":"","instanceIdentifier":"5724aaa1-dab3-3dcc-7e9c-3d27ede54b5b"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"fc58064b-7a38-3e21-a5ce-df5a0bd7d96e","instanceIdentifier":"43362126-0199-1000-017d-2771937bbacf","name":"","source":{"id":"d5fd8fda-014f-31e1-a2ff-9220a54df3e5","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Check if Response Needed","comments":"","instanceIdentifier":"4331e714-0199-1000-efda-30851bbf7e82"},"destination":{"id":"433601b8-0199-1000-6660-1b58009f2c6d","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Notify Patient/Caregiver","comments":"","instanceIdentifier":"2c0b9d5e-4fce-3848-d086-f9636b4651ac"},"labelIndex":0,"zIndex":7,"selectedRelationships":["needs_followup"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"},{"identifier":"bf55fe5a-e21f-3489-991a-90138a2e5ad9","instanceIdentifier":"432a2c06-0199-1000-27d0-e23c618ee339","name":"","source":{"id":"bc92b863-2c44-311d-8728-9737e1354347","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Set Warning Priority","comments":"","instanceIdentifier":"43285531-0199-1000-4d12-baf61562676d"},"destination":{"id":"1e0a436b-3e8f-31e0-b7d1-64c3fc9d7da7","type":"PROCESSOR","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Log Warning Alert","comments":"","instanceIdentifier":"432a0a43-0199-1000-7f75-58f41a827a12"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"b0bbffd0-2465-341f-a529-18bf4fd4c252","instanceIdentifier":"43331c38-0199-1000-6409-f275091f6ebc","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.5.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c999a6f-6655-3639-b68e-6e89b75650d2"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"52c368d2-a413-3972-a5e1-d7582809a0e3"},{"identifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","instanceIdentifier":"4226255d-0199-1000-4e4b-6a09108c31c5","name":"Critical Alert Handler","comments":"","position":{"x":-32.0,"y":-176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"620056b9-ebda-3d28-a95e-1c44b8b7e67d","instanceIdentifier":"42270fe7-0199-1000-34ab-302c6ee869a3","name":"UpdateAttribute","comments":"","position":{"x":-560.0,"y":-48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","alert.timestamp":"${now():format('yyyy-MM-dd HH:mm:ss')}","Stateful Variables Initial Value":null,"alert.type":"critical","alert.priority":"HIGH"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert.timestamp":{"name":"alert.timestamp","displayName":"alert.timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert.type":{"name":"alert.type","displayName":"alert.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"alert.priority":{"name":"alert.priority","displayName":"alert.priority","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"424715b9-0199-1000-eb45-a5354e5dd238","instanceIdentifier":"87912f4c-bca0-3394-7c28-6b5cc9e376f5","name":"Escalate to Charge Nurse","comments":"","position":{"x":88.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"CRITICAL ALERT ESCALATION - No response from clinical team\nPatient: ${patient_id}\nGlucose: ${glucose_level} mg/dL (${alert_level})\nTime since alert: 15 minutes\nDevice: ${device_id}\nTrend: ${glucose_trend}","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"465","SMTP Auth":"true","From":"ammarshahien5@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"ESCALATED: Critical CGM Alert - No Response","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"ammarshahien5@gmail.com","To":"ammarshahien600@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"1d3750fb-874f-3118-9213-b378535f1656","instanceIdentifier":"42517bc4-0199-1000-4520-5a7686be1254","name":"UpdateAttribute","comments":"","position":{"x":704.0,"y":-48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"alert.final_timestamp":"${now():format('yyyy-MM-dd HH:mm:ss')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","alert.processed":"true","alert.escalation_level":"${no_response:ifElse('2','1')}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert.final_timestamp":{"name":"alert.final_timestamp","displayName":"alert.final_timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alert.processed":{"name":"alert.processed","displayName":"alert.processed","identifiesControllerService":false,"sensitive":false,"dynamic":true},"alert.escalation_level":{"name":"alert.escalation_level","displayName":"alert.escalation_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"fd3285bc-77de-3101-b86e-c9452c065632","instanceIdentifier":"424f689e-0199-1000-91eb-956639a4558d","name":"UpdateAttribute","comments":"","position":{"x":104.0,"y":360.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"needs_escalation":"true"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"needs_escalation":{"name":"needs_escalation","displayName":"needs_escalation","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"4be8163d-b82d-3ec1-839c-ce0c141670f9","instanceIdentifier":"423d4ac9-0199-1000-48f4-2bbdff32962c","name":"Wait","comments":"","position":{"x":-560.0,"y":360.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"wait-buffer-count":"1","wait-mode":"keep","attribute-copy-mode":"keeporiginal","distributed-cache-service":"b27dcc17-70d2-3ef2-ac51-05407d929420","releasable-flowfile-count":"1","release-signal-id":"responded_${patient_id}_${uuid}","signal-counter-name":"alert_${patient_id}_${uuid}","expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":"10 min"},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["wait","success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"651812c5-1b0b-3e00-9468-61e035c4f918","instanceIdentifier":"4243bec6-0199-1000-3d0c-84694836fdec","name":"Escalate if No Response","comments":"","position":{"x":88.0,"y":144.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Routing Strategy":"Route to Property name","escalate ":"${needs_escalation:equals('true')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"escalate ":{"name":"escalate ","displayName":"escalate ","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"2148ce75-e65b-3e51-bebf-2b668a408989","instanceIdentifier":"42283de9-0199-1000-9f7e-316175622176","name":"Notify Clinical Team","comments":"","position":{"x":-560.0,"y":168.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"Critical glucose alert for patient ${patient_id}\nDevice: ${device_id}\nGlucose: ${glucose_level} mg/dL\nTrend: ${glucose_trend}\nTimestamp: ${timestamp}\nCurrent Activity: ${current_activity}\nInsulin On Board: ${insulin_on_board}U\nCarbs On Board: ${carbs_on_board}g","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"465","SMTP Auth":"true","From":"ammarshahien5@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"CRITICAL CGM ALERT: Patient ${patient_id} - ${alert_level}","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"ammarshahien5@gmail.com","To":"ammarshahien600@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"}],"inputPorts":[{"identifier":"153dfecd-0b31-3826-b3fc-90ef230d2fff","instanceIdentifier":"42289c1f-0199-1000-9aac-f8213db22a7b","name":"critical","position":{"x":-501.999999912964,"y":-182.5000017512234},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"}],"outputPorts":[{"identifier":"3540581f-c157-3320-af97-8e8bc3f40e6b","instanceIdentifier":"4252a674-0199-1000-b94e-069f8b30b641","name":"To Main Output","position":{"x":760.0,"y":200.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"}],"connections":[{"identifier":"6cc79c4c-bfb0-3306-bb50-87906472f5bc","instanceIdentifier":"423d695a-0199-1000-4f86-812d93267c3f","name":"","source":{"id":"2148ce75-e65b-3e51-bebf-2b668a408989","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Notify Clinical Team","comments":"","instanceIdentifier":"42283de9-0199-1000-9f7e-316175622176"},"destination":{"id":"4be8163d-b82d-3ec1-839c-ce0c141670f9","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Wait","comments":"","instanceIdentifier":"423d4ac9-0199-1000-48f4-2bbdff32962c"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"833dea4c-c499-3690-85f7-77c79224d0b5","instanceIdentifier":"42508d2b-0199-1000-0e45-37e879d3d3e7","name":"","source":{"id":"651812c5-1b0b-3e00-9468-61e035c4f918","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Escalate if No Response","comments":"","instanceIdentifier":"4243bec6-0199-1000-3d0c-84694836fdec"},"destination":{"id":"424715b9-0199-1000-eb45-a5354e5dd238","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Escalate to Charge Nurse","comments":"","instanceIdentifier":"87912f4c-bca0-3394-7c28-6b5cc9e376f5"},"labelIndex":0,"zIndex":8,"selectedRelationships":["escalate "],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"6e2b5273-bb35-334e-b915-faee8e063cc0","instanceIdentifier":"433c4402-0199-1000-7a05-3a365944af5a","name":"","source":{"id":"651812c5-1b0b-3e00-9468-61e035c4f918","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Escalate if No Response","comments":"","instanceIdentifier":"4243bec6-0199-1000-3d0c-84694836fdec"},"destination":{"id":"3540581f-c157-3320-af97-8e8bc3f40e6b","type":"OUTPUT_PORT","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"To Main Output","instanceIdentifier":"4252a674-0199-1000-b94e-069f8b30b641"},"labelIndex":0,"zIndex":11,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"0bbdbf9a-ffc1-3795-8156-c5fe15c761a1","instanceIdentifier":"424f892e-0199-1000-6e72-e91290ba543d","name":"","source":{"id":"4be8163d-b82d-3ec1-839c-ce0c141670f9","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Wait","comments":"","instanceIdentifier":"423d4ac9-0199-1000-48f4-2bbdff32962c"},"destination":{"id":"fd3285bc-77de-3101-b86e-c9452c065632","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"UpdateAttribute","comments":"","instanceIdentifier":"424f689e-0199-1000-91eb-956639a4558d"},"labelIndex":0,"zIndex":6,"selectedRelationships":["expired"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"c16b8523-dfd2-354b-84a5-78d02751db55","instanceIdentifier":"4228cb93-0199-1000-1dc6-ae94c3b0e2f5","name":"","source":{"id":"153dfecd-0b31-3826-b3fc-90ef230d2fff","type":"INPUT_PORT","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"critical","instanceIdentifier":"42289c1f-0199-1000-9aac-f8213db22a7b"},"destination":{"id":"620056b9-ebda-3d28-a95e-1c44b8b7e67d","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"UpdateAttribute","comments":"","instanceIdentifier":"42270fe7-0199-1000-34ab-302c6ee869a3"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"686e6f30-86c0-3163-978e-b184ecef3916","instanceIdentifier":"4252b6eb-0199-1000-9447-92cea4bc350e","name":"","source":{"id":"1d3750fb-874f-3118-9213-b378535f1656","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"UpdateAttribute","comments":"","instanceIdentifier":"42517bc4-0199-1000-4520-5a7686be1254"},"destination":{"id":"3540581f-c157-3320-af97-8e8bc3f40e6b","type":"OUTPUT_PORT","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"To Main Output","instanceIdentifier":"4252a674-0199-1000-b94e-069f8b30b641"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"d37ffbb8-a9eb-3a41-89c2-1ee4398c5a12","instanceIdentifier":"42285341-0199-1000-6a80-bb989414e54d","name":"","source":{"id":"620056b9-ebda-3d28-a95e-1c44b8b7e67d","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"UpdateAttribute","comments":"","instanceIdentifier":"42270fe7-0199-1000-34ab-302c6ee869a3"},"destination":{"id":"2148ce75-e65b-3e51-bebf-2b668a408989","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Notify Clinical Team","comments":"","instanceIdentifier":"42283de9-0199-1000-9f7e-316175622176"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"4918465e-8a3a-3629-8c25-9a8a509e8fb1","instanceIdentifier":"4251926f-0199-1000-ad7e-e38be37a9210","name":"","source":{"id":"424715b9-0199-1000-eb45-a5354e5dd238","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Escalate to Charge Nurse","comments":"","instanceIdentifier":"87912f4c-bca0-3394-7c28-6b5cc9e376f5"},"destination":{"id":"1d3750fb-874f-3118-9213-b378535f1656","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"UpdateAttribute","comments":"","instanceIdentifier":"42517bc4-0199-1000-4520-5a7686be1254"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"49d4f80d-30e3-37a8-a1c8-4d6c8e7087a6","instanceIdentifier":"44111fb9-0199-1000-e199-b66e27a1dd39","name":"","source":{"id":"2148ce75-e65b-3e51-bebf-2b668a408989","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Notify Clinical Team","comments":"","instanceIdentifier":"42283de9-0199-1000-9f7e-316175622176"},"destination":{"id":"fd3285bc-77de-3101-b86e-c9452c065632","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"UpdateAttribute","comments":"","instanceIdentifier":"424f689e-0199-1000-91eb-956639a4558d"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"},{"identifier":"4c3152d0-d7ae-3bdf-aa01-60c63b0b14d5","instanceIdentifier":"424fcfe4-0199-1000-de91-fb4746274004","name":"","source":{"id":"fd3285bc-77de-3101-b86e-c9452c065632","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"UpdateAttribute","comments":"","instanceIdentifier":"424f689e-0199-1000-91eb-956639a4558d"},"destination":{"id":"651812c5-1b0b-3e00-9468-61e035c4f918","type":"PROCESSOR","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"Escalate if No Response","comments":"","instanceIdentifier":"4243bec6-0199-1000-3d0c-84694836fdec"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"b27dcc17-70d2-3ef2-ac51-05407d929420","instanceIdentifier":"42422aa3-0199-1000-92e3-9be5db7ac831","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.5.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"52c368d2-a413-3972-a5e1-d7582809a0e3"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[{"identifier":"b057bd64-b026-3ead-a8c8-905b2ae4247e","instanceIdentifier":"42245bde-0199-1000-8859-6101084bb80a","name":"From Critical Alerts","position":{"x":-568.0,"y":-112.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"52c368d2-a413-3972-a5e1-d7582809a0e3"},{"identifier":"ac994eb2-0e43-36d3-8edf-757a7dffea20","instanceIdentifier":"42248792-0199-1000-e73d-f48383b8466b","name":"From Warning Alerts","position":{"x":-544.0,"y":176.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"52c368d2-a413-3972-a5e1-d7582809a0e3"}],"outputPorts":[{"identifier":"f29b8a91-3f9d-33a4-95aa-b39b3731d861","instanceIdentifier":"433f0316-0199-1000-47c2-e43a797a2f38","name":"all alerts","position":{"x":688.0,"y":0.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"52c368d2-a413-3972-a5e1-d7582809a0e3"}],"connections":[{"identifier":"cc011de3-04b8-34c2-a5c6-f3d4860c293c","instanceIdentifier":"4341659b-0199-1000-68b6-d9cbeb3b27c8","name":"","source":{"id":"ab373051-9bee-356f-a4ae-f138d27edd25","type":"OUTPUT_PORT","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"To Main Output","instanceIdentifier":"4338c9d9-0199-1000-8035-749d444741d3"},"destination":{"id":"f29b8a91-3f9d-33a4-95aa-b39b3731d861","type":"OUTPUT_PORT","groupId":"52c368d2-a413-3972-a5e1-d7582809a0e3","name":"all alerts","instanceIdentifier":"433f0316-0199-1000-47c2-e43a797a2f38"},"labelIndex":0,"zIndex":4,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"52c368d2-a413-3972-a5e1-d7582809a0e3"},{"identifier":"4342adba-f335-3a9b-ba53-5eb56879f97b","instanceIdentifier":"4327bcd7-0199-1000-bf3c-051509cdbafd","name":"","source":{"id":"ac994eb2-0e43-36d3-8edf-757a7dffea20","type":"INPUT_PORT","groupId":"52c368d2-a413-3972-a5e1-d7582809a0e3","name":"From Warning Alerts","instanceIdentifier":"42248792-0199-1000-e73d-f48383b8466b"},"destination":{"id":"e1740b4a-555f-36cc-9f5f-e00a36948377","type":"INPUT_PORT","groupId":"9c999a6f-6655-3639-b68e-6e89b75650d2","name":"Warning Input","instanceIdentifier":"4327981b-0199-1000-3102-7579be114a51"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"52c368d2-a413-3972-a5e1-d7582809a0e3"},{"identifier":"33d88923-5112-33b4-828c-d3e830c349b8","instanceIdentifier":"433f22d7-0199-1000-d36b-52c803072516","name":"","source":{"id":"3540581f-c157-3320-af97-8e8bc3f40e6b","type":"OUTPUT_PORT","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"To Main Output","instanceIdentifier":"4252a674-0199-1000-b94e-069f8b30b641"},"destination":{"id":"f29b8a91-3f9d-33a4-95aa-b39b3731d861","type":"OUTPUT_PORT","groupId":"52c368d2-a413-3972-a5e1-d7582809a0e3","name":"all alerts","instanceIdentifier":"433f0316-0199-1000-47c2-e43a797a2f38"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"52c368d2-a413-3972-a5e1-d7582809a0e3"},{"identifier":"49ef3596-0427-3aa8-9a11-2413ce95f939","instanceIdentifier":"4228b11b-0199-1000-0e2b-ccac84ecf8c2","name":"","source":{"id":"b057bd64-b026-3ead-a8c8-905b2ae4247e","type":"INPUT_PORT","groupId":"52c368d2-a413-3972-a5e1-d7582809a0e3","name":"From Critical Alerts","instanceIdentifier":"42245bde-0199-1000-8859-6101084bb80a"},"destination":{"id":"153dfecd-0b31-3826-b3fc-90ef230d2fff","type":"INPUT_PORT","groupId":"eed81cf8-d35f-31e3-a458-cf1c7d760cc1","name":"critical","instanceIdentifier":"42289c1f-0199-1000-9aac-f8213db22a7b"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"52c368d2-a413-3972-a5e1-d7582809a0e3"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14"},{"identifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074","instanceIdentifier":"434014a8-0199-1000-9428-db1ff023ed80","name":"Database Operations Group","comments":"","position":{"x":880.0,"y":80.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"43a23ef4-0199-1000-0b62-936291ec9de5","instanceIdentifier":"8e584d23-8ed4-3008-e143-e75adcde5a87","name":"AddDatabaseMetadata","comments":"","position":{"x":-288.0,"y":64.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"db.processor_id":"database_group","db.insert_timestamp":"${now():format('yyyy-MM-dd HH:mm:ss.SSS')}","Delete Attributes Expression":null,"db.batch_id":"${uuid}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"db.processor_id":{"name":"db.processor_id","displayName":"db.processor_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"db.insert_timestamp":{"name":"db.insert_timestamp","displayName":"db.insert_timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db.batch_id":{"name":"db.batch_id","displayName":"db.batch_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"},{"identifier":"4399ec11-0199-1000-fcc7-0b5545fdcdf7","instanceIdentifier":"fb48cd6e-6543-39dc-dccc-dbb3c21daedf","name":"Alerts readings","comments":"","position":{"x":288.0,"y":48.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"dbo","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"false","put-db-record-dcbp-service":"b940e6fe-59f2-373a-b92d-cc91c87b84b7","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"Generic","put-db-record-table-name":"cgm_alerts","put-db-record-record-reader":"95e33c4b-ab1f-31a3-9c21-7f36cde498fd"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"},{"identifier":"55407953-d74e-341b-95cc-b5e8975ad4c0","instanceIdentifier":"43a0fa9c-0199-1000-bead-92aedb0023bf","name":"AddDatabaseMetadata","comments":"","position":{"x":-296.0,"y":-144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"db.processor_id":"database_group","db.insert_timestamp":"${now():format('yyyy-MM-dd HH:mm:ss.SSS')}","Delete Attributes Expression":null,"db.batch_id":"${uuid}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"db.processor_id":{"name":"db.processor_id","displayName":"db.processor_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"db.insert_timestamp":{"name":"db.insert_timestamp","displayName":"db.insert_timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db.batch_id":{"name":"db.batch_id","displayName":"db.batch_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"},{"identifier":"7607d932-73ba-32ba-a5eb-e8976d6d5216","instanceIdentifier":"4385bf3b-0199-1000-0fe8-f61792fbfc30","name":"All readings","comments":"","position":{"x":280.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"dbo","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"false","put-db-record-dcbp-service":"b940e6fe-59f2-373a-b92d-cc91c87b84b7","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"Generic","put-db-record-table-name":"cgm_readings","put-db-record-record-reader":"95e33c4b-ab1f-31a3-9c21-7f36cde498fd"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"}],"inputPorts":[{"identifier":"35993f94-b82d-31a1-88f5-820769c93a4a","instanceIdentifier":"43419f56-0199-1000-aed1-413c326caad7","name":"alerts data","position":{"x":-656.0,"y":96.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"},{"identifier":"5249fb9e-bf1a-3811-bd68-e17311dc5c8d","instanceIdentifier":"4341ca10-0199-1000-f6f6-25235db1316c","name":"normal data","position":{"x":-664.0,"y":-136.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"}],"outputPorts":[],"connections":[{"identifier":"91c01475-38f6-3a94-b662-c2cecefd7cd5","instanceIdentifier":"43a28d56-0199-1000-368f-6467e249b92a","name":"","source":{"id":"35993f94-b82d-31a1-88f5-820769c93a4a","type":"INPUT_PORT","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"alerts data","instanceIdentifier":"43419f56-0199-1000-aed1-413c326caad7"},"destination":{"id":"43a23ef4-0199-1000-0b62-936291ec9de5","type":"PROCESSOR","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"AddDatabaseMetadata","comments":"","instanceIdentifier":"8e584d23-8ed4-3008-e143-e75adcde5a87"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"},{"identifier":"cfe3eb72-15bf-312a-ae64-30f75d985e29","instanceIdentifier":"43a26e9a-0199-1000-b7f2-cbbb9a336a87","name":"","source":{"id":"55407953-d74e-341b-95cc-b5e8975ad4c0","type":"PROCESSOR","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"AddDatabaseMetadata","comments":"","instanceIdentifier":"43a0fa9c-0199-1000-bead-92aedb0023bf"},"destination":{"id":"7607d932-73ba-32ba-a5eb-e8976d6d5216","type":"PROCESSOR","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"All readings","comments":"","instanceIdentifier":"4385bf3b-0199-1000-0fe8-f61792fbfc30"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"},{"identifier":"b35a46e5-558c-32b3-bec5-a8beca983474","instanceIdentifier":"43a26051-0199-1000-e244-e235bf3ece95","name":"","source":{"id":"5249fb9e-bf1a-3811-bd68-e17311dc5c8d","type":"INPUT_PORT","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"normal data","instanceIdentifier":"4341ca10-0199-1000-f6f6-25235db1316c"},"destination":{"id":"55407953-d74e-341b-95cc-b5e8975ad4c0","type":"PROCESSOR","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"AddDatabaseMetadata","comments":"","instanceIdentifier":"43a0fa9c-0199-1000-bead-92aedb0023bf"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"},{"identifier":"67f5f28f-426c-3fe2-9847-a599c19ffec8","instanceIdentifier":"43a29d96-0199-1000-a6cc-e50b48b4842b","name":"","source":{"id":"43a23ef4-0199-1000-0b62-936291ec9de5","type":"PROCESSOR","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"AddDatabaseMetadata","comments":"","instanceIdentifier":"8e584d23-8ed4-3008-e143-e75adcde5a87"},"destination":{"id":"7607d932-73ba-32ba-a5eb-e8976d6d5216","type":"PROCESSOR","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"All readings","comments":"","instanceIdentifier":"4385bf3b-0199-1000-0fe8-f61792fbfc30"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"},{"identifier":"7d2cc6e5-092b-35a2-8167-6f1abba2314e","instanceIdentifier":"43a2b15e-0199-1000-941a-ced97a5a423d","name":"","source":{"id":"43a23ef4-0199-1000-0b62-936291ec9de5","type":"PROCESSOR","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"AddDatabaseMetadata","comments":"","instanceIdentifier":"8e584d23-8ed4-3008-e143-e75adcde5a87"},"destination":{"id":"4399ec11-0199-1000-fcc7-0b5545fdcdf7","type":"PROCESSOR","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"Alerts readings","comments":"","instanceIdentifier":"fb48cd6e-6543-39dc-dccc-dbb3c21daedf"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"95e33c4b-ab1f-31a3-9c21-7f36cde498fd","instanceIdentifier":"4386680f-0199-1000-464c-36ae1382d2ab","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"CGMReading\",\n  \"fields\": [\n    {\"name\": \"device_id\", \"type\": \"string\"},\n    {\"name\": \"patient_id\", \"type\": \"string\"},\n    {\"name\": \"timestamp\", \"type\": \"string\"},\n    {\"name\": \"glucose_level\", \"type\": \"double\"},\n    {\"name\": \"glucose_trend\", \"type\": \"string\"},\n    {\"name\": \"alert_level\", \"type\": \"string\"},\n    {\"name\": \"battery_level\", \"type\": \"int\"},\n    {\"name\": \"signal_strength\", \"type\": \"int\"},\n    {\"name\": \"calibration_status\", \"type\": \"string\"},\n    {\"name\": \"sensor_age_days\", \"type\": \"int\"},\n    {\"name\": \"temperature\", \"type\": \"double\"},\n    {\"name\": \"sequence_number\", \"type\": \"int\"},\n    {\"name\": \"time_in_range_1h\", \"type\": \"double\"},\n    {\"name\": \"time_in_range_24h\", \"type\": \"double\"},\n    {\"name\": \"estimated_hba1c\", \"type\": \"double\"},\n    {\"name\": \"glucose_variability_cv\", \"type\": \"double\"},\n    {\"name\": \"predicted_glucose_30min\", \"type\": \"double\"},\n    {\"name\": \"insulin_on_board\", \"type\": \"double\"},\n    {\"name\": \"carbs_on_board\", \"type\": \"double\"},\n    {\"name\": \"current_activity\", \"type\": \"string\"},\n    {\"name\": \"meal_status\", \"type\": \"string\"},\n    {\"name\": \"stress_level\", \"type\": \"double\"},\n    {\"name\": \"sleep_quality\", \"type\": \"double\"},\n    {\"name\": \"hydration_level\", \"type\": \"double\"},\n    {\"name\": \"ingestion_timestamp\", \"type\": \"string\"},\n    {\"name\": \"ingestion_source\", \"type\": \"string\"},\n    {\"name\": \"processing_stage\", \"type\": \"string\"},\n    {\"name\": \"data_type\", \"type\": \"string\"}\n  ]\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"},{"identifier":"b940e6fe-59f2-373a-b92d-cc91c87b84b7","instanceIdentifier":"43863773-0199-1000-712f-b96e25eb630a","name":"CGM","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://DESKTOP-SGJNJAK:1433;databaseName=CGM;encrypt=true;trustServerCertificate=true;hostNameInCertificate=DESKTOP-SGJNJAK","dbcp-time-between-eviction-runs":"-1","Database User":"iics_user","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"C:\\nifi-2.5.0\\lib","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9a755ccf-5839-3cd3-8c54-4dc75769e074"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"dfe5eebf-8f55-30d9-b9f8-ae90bb667348","instanceIdentifier":"434219ca-0199-1000-4543-5c7cf71f5443","name":"","source":{"id":"f29b8a91-3f9d-33a4-95aa-b39b3731d861","type":"OUTPUT_PORT","groupId":"52c368d2-a413-3972-a5e1-d7582809a0e3","name":"all alerts","instanceIdentifier":"433f0316-0199-1000-47c2-e43a797a2f38"},"destination":{"id":"35993f94-b82d-31a1-88f5-820769c93a4a","type":"INPUT_PORT","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"alerts data","instanceIdentifier":"43419f56-0199-1000-aed1-413c326caad7"},"labelIndex":0,"zIndex":4,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14"},{"identifier":"7900b618-7c3b-3fb9-a93f-b7ea93888898","instanceIdentifier":"4224d65d-0199-1000-cc7f-4d115c808ba8","name":"","source":{"id":"12ee21de-b587-3d0a-af18-fdf06f9369aa","type":"OUTPUT_PORT","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"To Critical Alert Group","instanceIdentifier":"421f9890-0199-1000-cbbf-566816f17eea"},"destination":{"id":"b057bd64-b026-3ead-a8c8-905b2ae4247e","type":"INPUT_PORT","groupId":"52c368d2-a413-3972-a5e1-d7582809a0e3","name":"From Critical Alerts","instanceIdentifier":"42245bde-0199-1000-8859-6101084bb80a"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14"},{"identifier":"a17137ea-12e3-3d7d-9672-0e8829e88eec","instanceIdentifier":"43423e23-0199-1000-52e0-48823a50cfbc","name":"","source":{"id":"5528b775-6437-301d-829e-7af0a7b926b4","type":"OUTPUT_PORT","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"To Database Group","instanceIdentifier":"421fe940-0199-1000-e375-510bc7a849fe"},"destination":{"id":"5249fb9e-bf1a-3811-bd68-e17311dc5c8d","type":"INPUT_PORT","groupId":"9a755ccf-5839-3cd3-8c54-4dc75769e074","name":"normal data","instanceIdentifier":"4341ca10-0199-1000-f6f6-25235db1316c"},"labelIndex":0,"zIndex":5,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14"},{"identifier":"9d9fa623-c70a-3979-89d7-b1a4c08a06ca","instanceIdentifier":"41ffc813-0199-1000-b20b-45c4d2ee9502","name":"","source":{"id":"a32cb0eb-f09a-31e3-9a16-a34feed8c76e","type":"OUTPUT_PORT","groupId":"9256693c-9dfe-36d3-a857-7c47e85cd032","name":"Data Ingestion Group Output","instanceIdentifier":"41feb36d-0199-1000-6aa8-16abf2f16637"},"destination":{"id":"8db03cf9-3a69-3642-bb30-f849a563b19a","type":"INPUT_PORT","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"Data Ingestion Group IN","instanceIdentifier":"41ffacd4-0199-1000-54c3-ddbf4da491cb"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14"},{"identifier":"c96e418c-f25c-3813-82f9-85a387849983","instanceIdentifier":"4224fb54-0199-1000-3e7c-bfe9ea4f061e","name":"","source":{"id":"03e82e9c-bfd2-392b-96e8-5a15c3e0dd7c","type":"OUTPUT_PORT","groupId":"ddf6ad03-91b3-324e-9a0b-83f035efe52c","name":"To Warning Alert Group","instanceIdentifier":"421fc124-0199-1000-c040-664e23001786"},"destination":{"id":"ac994eb2-0e43-36d3-8edf-757a7dffea20","type":"INPUT_PORT","groupId":"52c368d2-a413-3972-a5e1-d7582809a0e3","name":"From Warning Alerts","instanceIdentifier":"42248792-0199-1000-e73d-f48383b8466b"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":150.0,"y":36.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b64a926c-f8f5-3e7b-b2bd-e890bb456c14"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}